In [52]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import os 
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score, confusion_matrix
import joblib

In [2]:
data = pd.read_csv(r"Breast Cancer Prediction.csv")

## 2-Explore Data

In [3]:
data.columns

Index(['Sample code number', 'Clump Thickness', 'Uniformity of Cell Size',
       'Uniformity of Cell Shape', 'Marginal Adhesion',
       'Single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin',
       'Normal Nucleoli', 'Mitoses', 'Class'],
      dtype='object')

In [4]:
data.head()

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

## Cleaning The Data

In [5]:
data.isnull().sum().sum()

0

## Splitting Data

In [26]:
data = data.drop(['Sample code number'],axis=1)
# y= data['Class'].copy()

In [27]:
x,y=data.iloc[:,:-1],data.iloc[:,-1]

In [28]:
x[:10]
# clf.score(X_test,clf_pred)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
5,8,10,10,8,7,10,9,7,1
6,1,1,1,1,2,10,3,1,1
7,2,1,2,1,2,1,3,1,1
8,2,1,1,1,2,1,1,1,5
9,4,2,1,1,2,1,2,1,1

In [29]:
X_train, X_test ,y_train, y_test = train_test_split(x,y , test_size=0.2,shuffle= True , random_state = 44)

In [30]:
print(X_train.shape)
print(y_train.shape)

(546, 9)
(546,)

In [31]:
svc=SVC()
svc.fit(X_train,y_train)
svc.score(X_train,y_train)

0.9761904761904762

In [32]:
y_pred1=svc.predict(X_test)
svc.score(X_test,y_pred1)

1.0

In [46]:
clf = LogisticRegression(solver='lbfgs' , C = 1000 , tol = 0.01)
# clf = LogisticRegression(random_state=10, solver='liblinear')
# clf = LogisticRegression(random_state=10, solver='saga')
clf.fit(X_train,y_train)
clf.score(X_train,y_train)

0.9706959706959707

In [47]:
clf_pred = clf.predict(X_test)
clf.score(X_test,clf_pred)

1.0

In [34]:
X_test

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
564,1,1,1,1,2,1,3,1,1
514,4,1,1,1,1,1,2,1,1
581,4,1,2,1,2,1,2,1,1
88,1,1,1,1,2,1,3,1,1
333,1,1,1,1,1,1,1,3,1
...,...,...,...,...,...,...,...,...,...
49,5,3,3,4,2,4,3,4,1
417,5,1,1,1,2,1,2,2,1
114,8,3,3,1,2,2,3,2,1
196,1,1,1,1,2,1,3,1,1
378,3,1,1,1,2,1,2,1,1

In [49]:
DT=DecisionTreeClassifier()
DT.fit(X_train,y_train)
DT.score(X_train,y_train)

1.0

In [50]:
y_pred=dtc.predict(X_test)
DT.score(X_test,y_pred1)

1.0

In [53]:
joblib.dump(DT,'classifier.joblib')

['classifier.joblib']